*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

  .attribution a { 
    color: hsl(228, 45%, 44%);
   text-decoration: none
}

body{
    background-color:hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 0.937em;
}

.container{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.background{
    width:322px;
    background-color:white;
    border-radius:15px;
    padding:20px;
    margin:auto;
}

img{
    width:100%;
    height:auto;
    border-radius:15px;
}

.heading{
    color:hsl(218, 44%, 22%);
    line-height: 25px;
    text-align:center;
    padding:17px 10px;
}

.content{
    margin:auto;
    width:250px;
    color:hsl(220, 15%, 55%);
    text-align:center;
    margin-top:-2px;
    margin-bottom:15px;
}

.attribution { 
    font-size: 0.687rem; 
    text-align: center; 
    padding-bottom:75px;
    margin-top:-50px;
}

a:hover{
    color:#3685FF;
}
